---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout>
  <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-32">
    <div class="space-y-4 sm:space-y-12">
      <H1> Get to know Luiza LeBlanc </H1>

      <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
        Bilingual Software Developer (English and Portuguese), with several works in web front-end.
        Computer Science Student, graduated on Full-Stack Development. Adept in delivering solutions
        focused on user experience. Eager to apply my knowledge in a practical setting and impact
        people through technology. Curiosity moves me, passionate about learning new things and
        solving problems.
      </p>
    </div>

    <div class="space-y-2 text-base sm:text-lg">
      <h2 class="px-4 text-zinc-400 underline underline-offset-4 decoration-zinc-500">
        Achievements
      </h2>

      <ul class="px-4 text-zinc-400 list-disc list-outside">
        <li>Full-Stack Engineering - Kenzie Academy (2023-2024)</li>
        <li>Computer Science - Maurício de Nassau University (Expected on 2028)</li>
        <li>CC50 - Harvard University (2025)</li>
        <li>Generative AI's - Santander with MIT (2025)</li>
        <li>Digital Transformation - Santander with MIT (2025)</li>
        <li>Graphic Design - Orango (2025)</li>
      </ul>
    </div>
  </div>
</InfoLayout>
