<div>
  <h1 class="mt-6 font-mono text-2xl font-bold bg-gradient-to-br from-red-600 from-10% to-violet-500 to-70% bg-clip-text text-transparent">About me</h1>
  <p class="mt-2">
    I'm a polyglot Software Engineer (english, french and portuguese), with experience
    in web development, delivering solutions focused on user experience. Curiosity moves me, passionate
    about learning new things and solving problems.
  </p>
</div>
