<footer
  class="mt-6 flex flex-col items-center justify-between gap-4 rounded-xl border px-4 py-4 dark:border-gray-800 dark:bg-gray-950 sm:flex-row"
>
  <p
    class="text-center font-mono text-xs text-gray-500 dark:text-gray-400 sm:text-left"
  >
    Designed & Developed with 💙 by Luiza Ferraz LeBlanc
  </p>
  <div class="flex flex-row gap-4">
    <a href="https://www.linkedin.com/in/luiza-ferraz-leblanc-7727ba167/?originalSubdomain=br">
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        xmlns="http://www.w3.org/2000/svg"
        class="fill-current text-gray-500 transition-all hover:cursor-pointer hover:text-black dark:text-gray-400 dark:hover:text-white"
      >
        <path
          d="M27.0784 3.25085H5.07837C4.54794 3.25085 4.03923 3.46157 3.66416 3.83664C3.28908 4.21171 3.07837 4.72042 3.07837 5.25085V27.2509C3.07837 27.7813 3.28908 28.29 3.66416 28.6651C4.03923 29.0401 4.54794 29.2509 5.07837 29.2509H27.0784C27.6088 29.2509 28.1175 29.0401 28.4926 28.6651C28.8677 28.29 29.0784 27.7813 29.0784 27.2509V5.25085C29.0784 4.72042 28.8677 4.21171 28.4926 3.83664C28.1175 3.46157 27.6088 3.25085 27.0784 3.25085ZM12.0784 22.2509C12.0784 22.5161 11.973 22.7704 11.7855 22.958C11.5979 23.1455 11.3436 23.2509 11.0784 23.2509C10.8132 23.2509 10.5588 23.1455 10.3713 22.958C10.1837 22.7704 10.0784 22.5161 10.0784 22.2509V14.2509C10.0784 13.9856 10.1837 13.7313 10.3713 13.5437C10.5588 13.3562 10.8132 13.2509 11.0784 13.2509C11.3436 13.2509 11.5979 13.3562 11.7855 13.5437C11.973 13.7313 12.0784 13.9856 12.0784 14.2509V22.2509ZM11.0784 12.2509C10.7817 12.2509 10.4917 12.1629 10.245 11.9981C9.99834 11.8332 9.80608 11.599 9.69255 11.3249C9.57902 11.0508 9.54931 10.7492 9.60719 10.4582C9.66507 10.1672 9.80793 9.89997 10.0177 9.69019C10.2275 9.48042 10.4948 9.33755 10.7857 9.27968C11.0767 9.2218 11.3783 9.2515 11.6524 9.36504C11.9265 9.47857 12.1608 9.67083 12.3256 9.9175C12.4904 10.1642 12.5784 10.4542 12.5784 10.7509C12.5784 11.1487 12.4203 11.5302 12.139 11.8115C11.8577 12.0928 11.4762 12.2509 11.0784 12.2509ZM23.0784 22.2509C23.0784 22.5161 22.973 22.7704 22.7855 22.958C22.5979 23.1455 22.3436 23.2509 22.0784 23.2509C21.8132 23.2509 21.5588 23.1455 21.3713 22.958C21.1837 22.7704 21.0784 22.5161 21.0784 22.2509V17.7509C21.0784 17.0878 20.815 16.4519 20.3461 15.9831C19.8773 15.5142 19.2414 15.2509 18.5784 15.2509C17.9153 15.2509 17.2794 15.5142 16.8106 15.9831C16.3418 16.4519 16.0784 17.0878 16.0784 17.7509V22.2509C16.0784 22.5161 15.973 22.7704 15.7855 22.958C15.5979 23.1455 15.3436 23.2509 15.0784 23.2509C14.8132 23.2509 14.5588 23.1455 14.3713 22.958C14.1837 22.7704 14.0784 22.5161 14.0784 22.2509V14.2509C14.0796 14.0059 14.1707 13.7699 14.3344 13.5877C14.4981 13.4055 14.7229 13.2897 14.9663 13.2622C15.2097 13.2348 15.4548 13.2976 15.6549 13.4388C15.855 13.5801 15.9964 13.7898 16.0521 14.0284C16.7286 13.5694 17.5173 13.3035 18.3336 13.259C19.1498 13.2145 19.9627 13.3932 20.6851 13.7759C21.4074 14.1586 22.0119 14.7308 22.4335 15.4312C22.8552 16.1315 23.0781 16.9334 23.0784 17.7509V22.2509Z"
        ></path>
      </svg>
    </a>
    <a href="https://github.com/luizaleblanc">
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        xmlns="http://www.w3.org/2000/svg"
        class="fill-current text-gray-500 transition-all hover:cursor-pointer hover:text-black dark:text-gray-400 dark:hover:text-white"
      >
        <g clip-path="url(#clip0_13_14)">
          <path
            d="M27.0784 13.2509V14.2509C27.0763 15.9429 26.462 17.577 25.3491 18.8514C24.2362 20.1259 22.6997 20.9546 21.0234 21.1846C21.7076 22.0602 22.079 23.1396 22.0784 24.2509V29.2509C22.0784 29.5161 21.973 29.7704 21.7855 29.958C21.5979 30.1455 21.3436 30.2509 21.0784 30.2509H13.0784C12.8132 30.2509 12.5588 30.1455 12.3713 29.958C12.1837 29.7704 12.0784 29.5161 12.0784 29.2509V27.2509H9.07837C7.75229 27.2509 6.48052 26.7241 5.54284 25.7864C4.60515 24.8487 4.07837 23.577 4.07837 22.2509C4.07837 21.4552 3.7623 20.6922 3.19969 20.1296C2.63708 19.5669 1.87402 19.2509 1.07837 19.2509C0.813153 19.2509 0.558799 19.1455 0.371262 18.958C0.183726 18.7704 0.0783691 18.5161 0.0783691 18.2509C0.0783691 17.9857 0.183726 17.7313 0.371262 17.5438C0.558799 17.3562 0.813153 17.2509 1.07837 17.2509C1.73498 17.2509 2.38516 17.3802 2.99179 17.6315C3.59841 17.8827 4.14961 18.251 4.6139 18.7153C5.0782 19.1796 5.44649 19.7308 5.69777 20.3375C5.94904 20.9441 6.07837 21.5943 6.07837 22.2509C6.07837 23.0465 6.39444 23.8096 6.95705 24.3722C7.51966 24.9348 8.28272 25.2509 9.07837 25.2509H12.0784V24.2509C12.0777 23.1396 12.4491 22.0602 13.1334 21.1846C11.4571 20.9546 9.92059 20.1259 8.80765 18.8514C7.69471 17.577 7.08047 15.9429 7.07837 14.2509V13.2509C7.09082 12.0081 7.42178 10.7893 8.03962 9.71087C7.73396 8.72487 7.63591 7.68622 7.75166 6.66044C7.8674 5.63465 8.19443 4.64397 8.71212 3.75087C8.79991 3.59882 8.92618 3.47256 9.07824 3.38479C9.2303 3.29702 9.40279 3.25083 9.57837 3.25087C10.7431 3.24843 11.8923 3.51845 12.9341 4.03935C13.9759 4.56025 14.8815 5.3176 15.5784 6.25087H18.5784C19.2753 5.3176 20.1808 4.56025 21.2226 4.03935C22.2644 3.51845 23.4136 3.24843 24.5784 3.25087C24.7539 3.25083 24.9264 3.29702 25.0785 3.38479C25.2306 3.47256 25.3568 3.59882 25.4446 3.75087C25.9624 4.64395 26.2894 5.63469 26.4049 6.66052C26.5204 7.68635 26.422 8.72499 26.1159 9.71087C26.7349 10.7888 27.0663 12.0079 27.0784 13.2509Z"
          ></path>
        </g>
        <defs>
          <clipPath id="clip0_13_14">
            <rect
              width="32"
              height="32"
              fill="white"
              transform="translate(0.0783691 0.250854)"></rect>
          </clipPath>
        </defs>
      </svg>
        <path
          d="M30.7859 9.95831L27.0484 13.6958C26.2934 22.4483 18.9121 29.2508 10.0784 29.2508C8.26337 29.2508 6.76712 28.9633 5.63087 28.3958C4.71462 27.9371 4.33962 27.4458 4.24587 27.3058C4.16228 27.1804 4.10809 27.0378 4.08737 26.8886C4.06665 26.7393 4.07992 26.5873 4.1262 26.4439C4.17247 26.3005 4.25056 26.1694 4.35461 26.0604C4.45867 25.9515 4.58601 25.8674 4.72712 25.8146C4.75962 25.8021 7.75712 24.6508 9.66087 22.4596C8.6051 21.5915 7.68347 20.5722 6.92587 19.4346C5.37587 17.1333 3.64087 13.1358 4.17587 7.16206C4.19283 6.97224 4.26367 6.79122 4.38006 6.64032C4.49645 6.48941 4.65353 6.37491 4.83282 6.31029C5.0121 6.24567 5.20612 6.23362 5.39202 6.27557C5.57792 6.31752 5.74796 6.41171 5.88212 6.54706C5.92587 6.59081 10.0421 10.6846 15.0746 12.0121V11.2508C15.0727 10.4526 15.2305 9.66198 15.5388 8.92565C15.8471 8.18931 16.2996 7.52211 16.8696 6.96331C17.4232 6.41047 18.082 5.97411 18.807 5.67999C19.532 5.38587 20.3086 5.23994 21.0909 5.25081C22.1403 5.26116 23.1692 5.54288 24.0776 6.06857C24.9859 6.59426 25.7428 7.34603 26.2746 8.25081H30.0784C30.2763 8.25065 30.4698 8.30922 30.6344 8.41909C30.7989 8.52896 30.9272 8.6852 31.003 8.86802C31.0787 9.05084 31.0986 9.25203 31.0599 9.44612C31.0212 9.6402 30.9259 9.81845 30.7859 9.95831Z"
        ></path>
      </svg>
    </a>
    <a href="https://instagram.com/luizaleblanc">
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        xmlns="http://www.w3.org/2000/svg"
        class="fill-current text-gray-500 transition-all hover:cursor-pointer hover:text-black dark:text-gray-400 dark:hover:text-white"
      >
        <path
          d="M22.0784 3.25085H10.0784C8.22246 3.25284 6.44314 3.99098 5.13081 5.3033C3.81849 6.61562 3.08035 8.39495 3.07837 10.2509V22.2509C3.08035 24.1068 3.81849 25.8861 5.13081 27.1984C6.44314 28.5107 8.22246 29.2489 10.0784 29.2509H22.0784C23.9343 29.2489 25.7136 28.5107 27.0259 27.1984C28.3382 25.8861 29.0764 24.1068 29.0784 22.2509V10.2509C29.0764 8.39495 28.3382 6.61562 27.0259 5.3033C25.7136 3.99098 23.9343 3.25284 22.0784 3.25085ZM16.0784 22.2509C14.8917 22.2509 13.7316 21.899 12.7449 21.2397C11.7583 20.5804 10.9892 19.6433 10.5351 18.547C10.081 17.4506 9.96215 16.2442 10.1937 15.0803C10.4252 13.9164 10.9966 12.8473 11.8357 12.0082C12.6748 11.1691 13.7439 10.5977 14.9078 10.3661C16.0717 10.1346 17.2781 10.2535 18.3745 10.7076C19.4708 11.1617 20.4079 11.9307 21.0672 12.9174C21.7265 13.9041 22.0784 15.0642 22.0784 16.2509C22.0767 17.8416 21.444 19.3668 20.3192 20.4917C19.1943 21.6165 17.6692 22.2492 16.0784 22.2509ZM23.5784 10.2509C23.2817 10.2509 22.9917 10.1629 22.745 9.99806C22.4983 9.83324 22.3061 9.59897 22.1926 9.32488C22.079 9.05079 22.0493 8.74919 22.1072 8.45822C22.1651 8.16725 22.3079 7.89997 22.5177 7.69019C22.7275 7.48042 22.9948 7.33755 23.2857 7.27968C23.5767 7.2218 23.8783 7.2515 24.1524 7.36504C24.4265 7.47857 24.6608 7.67083 24.8256 7.9175C24.9904 8.16417 25.0784 8.45418 25.0784 8.75085C25.0784 9.14868 24.9203 9.53021 24.639 9.81151C24.3577 10.0928 23.9762 10.2509 23.5784 10.2509ZM20.0784 16.2509C20.0784 17.042 19.8438 17.8153 19.4042 18.4731C18.9647 19.1309 18.34 19.6436 17.6091 19.9464C16.8782 20.2491 16.0739 20.3283 15.298 20.174C14.5221 20.0197 13.8094 19.6387 13.2499 19.0793C12.6905 18.5199 12.3096 17.8071 12.1552 17.0312C12.0009 16.2553 12.0801 15.451 12.3829 14.7201C12.6856 13.9892 13.1983 13.3645 13.8561 12.925C14.5139 12.4855 15.2872 12.2509 16.0784 12.2509C17.1392 12.2509 18.1567 12.6723 18.9068 13.4224C19.6569 14.1726 20.0784 15.19 20.0784 16.2509Z"
        ></path>
      </svg>
    </a>
  </div>
</footer>
